{{!
	This file is part of Moodle - http://moodle.org/

	Moodle is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	Moodle is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.

	You should have received a copy of the GNU General Public License
	along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
	@template local_course_checker/main
	Template for the main page of the course checker plugin.

	Example context (json):
	{
		"search_form": "<form>...</form>",
		"results": [
			{
				"activityname": "Page 1",
				"linktext": "Google",
				"url": "https://www.google.com",
				"modtypelabel": "Page",
				"isbroken": false,
				"isok": true
			}
		]
	}
}}

<div class="coursercherker">
	{{{ search_form }}}
</div>
<table class="table table-striped mt-4">
	<thead>
		<tr>
			<th>{{#str}}activityname, local_course_checker{{/str}}</th>
			<th>{{#str}}linktext, local_course_checker{{/str}}</th>
			<th>{{#str}}url, local_course_checker{{/str}}</th>
			<th>{{#str}}modtype, local_course_checker{{/str}}</th>
			<th>{{#str}}status, local_course_checker{{/str}}</th>
		</tr>
	</thead>
	<tbody>
		{{#results}}
		<tr class="{{#isbroken}}text-danger{{/isbroken}}{{#isok}}text-black{{/isok}}">
			<td>{{activityname}}</td>
			<td>{{linktext}}</td>
			<td><a href="{{url}}" target="_blank" class="{{#isbroken}}text-danger{{/isbroken}}{{#isok}}text-black{{/isok}}">{{url}}</a></td>
			<td>{{modtypelabel}}</td>
			<td>{{#isbroken}}{{#str}}no, local_course_checker{{/str}}{{/isbroken}}{{#isok}}{{#str}}yes, local_course_checker{{/str}}{{/isok}}</td>
		</tr>
		{{/results}}
		{{^results}}
		<tr>
			<td colspan="6" class="text-center">{{#str}}nolinksfound, local_course_checker{{/str}}</td>
		</tr>
		{{/results}}
	</tbody>
</table>
{{#haspagination}}
    <div class="row mt-3">
        <div class="col-12">
            {{{pagination}}}
        </div>
    </div>
{{/haspagination}}